
 *{
  margin:0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
body{
  height:100vh; 
  width:100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.767);
}
h1{
  color: white;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
#calculator{
  padding:30px;
  box-shadow:0 0 15px #000;
  border:2px solid rgb(116,114,114);
  border-radius:15px;
  margin-top:1rem;
  text-align: center;
}
.display input{
  width: 250px;
  padding:12px;
  margin: 10px 0;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  text-align: right;
  font-size: 30px;
  cursor: pointer;
}
button{
  width: 77px;
  height:55px;
  margin: 8px;
  background: transparent;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border: 0;
  box-shadow: -5px -6px 15px #000;
  border-radius: 10px;
  cursor: pointer;
  outline: 1px solid #313131;
  outline-offset: 3px;

}
button:active{
  background:#000;
  translate:(2px,2px)
}
.opr{
  color:aqua;
  background: color #1e191e; 
  font-weight: 700px;
  font-size: 20px;
}
#equel{
  background-color: orangered;
  font-family:900 ;
}  

@media (max-width: 768px) {
  h1{
    font-size: 1.5rem;
  }
  #calculator {
    padding: 10px;
    font-size: 2rem;
    width: 80%;
    max-width: 300px;
    margin-bottom: 310px;
  }
  .display input {
    width: 75%;
    font-size: 20px;
    padding: 10px;
  }
  button {
    width: 50px;
    height: 45px;
    font-size: 15px;
    margin: 6px;
  }
  .opr{
    font-size: 15px;
  }
}














